<%= link_to "Home Page", root_path %>

<h1> Results for <%= @theme %> <h1>

<ul>
  <% @holidays.each do |holiday| %>
  <li> <%= holiday[:name] %> is  <%= holiday[:date]%>
  <% if current_user %>
     <%= button_to "Add to Favorite", favorites_path, params: { name: holiday[:name], date: holiday[:date] }  %>
  <% end %>
  </li>
  <% end %>
</ul>
